@import url("https://fonts.googleapis.com/css2?family=Corinthia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #fff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #fff;
  position: relative;
  z-index: 100;
}

#main-logo {
  width: 95%;
  min-width: 300px;
}

.nav-links {
  display: none;
}

@media only screen and (min-width: 640px) {
  #main-logo {
    max-width: 500px;
  }
  .nav-links__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 50px;
    z-index: 100;
  }
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 600px;
  }
  .nav-links a {
    text-decoration: none;
    color: #b7a7a7;
    font-size: 20px;
  }
  .nav-links a:hover {
    color: #7e6c6c;
  }
}

.home-section__content {
  position: relative;
}

.home-section__content__image img {
  display: block;
  width: 100%;
}

.home-section__content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  padding-left: 1%;
  color: #fff;
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  z-index: 10;
}

.home-section__content__text h2 {
  font-size: 2rem;
}

.home-section__content__text-cursive {
  font-family: "Corinthia", cursive;
  font-size: 3rem;
}

.home-section__content__image__background {
  display: none;
}

.home-section__gallery {
  display: none;
}

@media only screen and (min-width: 880px) {
  .home-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background-color: #fff;
  }
  .home-section__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 3% 0 10% 0;
  }
  .home-section__content__image {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    max-width: 600px;
  }
  .home-section__content__image img {
    width: 400px;
    border-radius: 2px;
  }
  .home-section__content__image__foreground {
    z-index: 10;
  }
  .home-section__content__image__background {
    display: block;
    position: absolute;
    top: 50px;
    right: 5px;
    z-index: 9;
  }
  .home-section__content__image__decor {
    border-radius: 2px;
    position: absolute;
    background-color: #eeeeee;
    width: 1500px;
    height: 300px;
  }
  .home-section__content__text {
    position: static;
    width: 50%;
    max-width: 410px;
    font-size: 20px;
    padding-left: 30px;
    color: #b7a7a7;
  }
  .home-section__content__text h2 {
    font-family: "Libre Baskerville", serif;
    font-size: 40px;
    color: #7e6c6c;
  }
  .home-section__content__text-cursive {
    font-size: 60px;
    color: #000;
  }
  .home-section__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin-top: 25px;
  }
  .home-section__gallery img {
    width: 25%;
  }
}
/*# sourceMappingURL=Home.css.map */